<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>commentBox</title>
	<link rel="stylesheet" href="style/commentBox.css">
    <script src="../../build/react.js"></script>
    <script src="../../build/react-dom.js"></script>
  	<script src="../../build/browser.min.js"></script>
</head>
<body>
	<div id="commentBox"></div>
</body>
<script src="../../jquery/jquery-1.12.1.min.js">
  // var data = [
  //     {id: 1, author: "Hunter", text: "This is one comment",img:"img/baidu.jpg"},
  //     {id: 2, author: "HHT", text: "This is another comment",img:"img/google.jpg"},
  //     {id: 3, author: "Peter", text: "Long comment, the more is ignore, this comment is too long",img:"img/huohu.jpg"}
  //   ]; 
</script>
<script src="script/require.js" data-main="script/main.js"></script>
</html>